# Copyright 2022 Johannes Reiff
# SPDX-License-Identifier: Apache-2.0

# Generic
.cache/

# Editor-specific
*.sublime-workspace
*~
.vscode/

# Build artifacts
__pycache__/
_dist/
_doc/
_venv/
build/
src/*.egg-info/
src/rodeo/_version.py
